.center
{
    text-align: center;
    background-color: #9e9e9e5c;
    padding: 224px 188px;
    /* background-color: #c9e0ff; */
   
}
.height
{
    height: 47px;
    width: 300px;
}
.login
{
    border-radius: 10px 10px;
    background-color: #1952a7;
    color: white;
    margin-left: -60%;
    height: 35px;
    width: 90px;

}
.register
{
margin-left: 5%;
color: #1952a7;
margin-top: -8%;
}
.left
{
    margin-right: 61%;
    font-weight: bold;
}
p{
    color: red;
}



  