.length
{
    width:80%;
}
.bcolor{
    background-color: #4245f5;
    color: white;
    width:200px;
}
.font
{
    font-weight: bold;
}
.font1
{
    font-weight:bold;
}
table.PerformanceTable {
    table-layout: fixed;
    width: 500px;
}
.background
{
   background-color: #9e9e9e5c;
   height: 560px;
}
