.length
{
    width:80%;
}
.bcolor{
    background-color: #4245f5;
    color: white;
    width:200px;
}
.font
{
    font-weight: bold;
    color:black;
}
.font1
{
    font-weight:bold;
}
table.PerformanceTable {
    table-layout: fixed;
    width: 500px;
}

th, td { 
    border-bottom: 1px solid #80808026;
}
body{
    background-color:#e1e7ec !important;
}